body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
  background: #fff;
}

.header-logo-link {
  text-decoration: none;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-stydio {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address {
  font-style: normal;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.adress-list {
  list-style-type: none;
}

.adress-link {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.main-section {
  background: #2e2f42;
}

.main-header {
  color: #fff;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 1.07;
  text-align: center;
}

.main-button {
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background: #404bbf;
}

.subheader {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.paragraph {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.first-section-list {
  list-style-type: none;
}

.second-section-list {
  list-style-type: none;
}

.third-section-list {
  list-style-type: none;
}

.second-section {
  background-color: #f4f4fd;
}

.second-section-list-item {
  background-color: #ffffff;
}

.third-section {
  background-color: #f4f4fd;
}

.third-section-list-item {
  background-color: #ffffff;
}

.footer-section {
  background: #2e2f42;
}

.footer-logo-link {
  text-decoration: none;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-stydio {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-paragraph {
  color: #f4f4fd;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
